@charset "UTF-8";
body{
    /*background-color: rgb(2, 196, 245);*/
    background-image:url("img/fundo.jpg"); 
}
table{

    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-spacing: 0px;
    text-align: center;
    vertical-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
tr#Menu{

    background: black;
    font-size: 15px;
    

}
tr#Menu a{
    color: brown;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    
}
tr#Menu :hover{
    color: white;
    text-decoration: underline;
    
}
tr#LinhaUbuntu{

    background: black;
    

}
tr#LinhaOpenSUSI{

    background: black;

}
tr#LinhaREDHAT{

    background: black;

}
tr#LinhaREDHAT{

    background: black;

}

h2{
    font-size: 18px;
}

h3{
    font-size: 14px;
}

td {
    border: 1px solid black;
}

.MenuUbuntu {

    background: black;
    color: brown;
    border-bottom: 1px solid white;

}

.MenuREDHAT {

    background: black;
    color: brown;
    border-bottom: 1px solid white;

}

.MenuOpenSUSE {

    background: black;
    color: brown;
    


}

.RodapeSuperior{

    background: rgb(255, 255, 255);

}

.DevForAllan{

    background: whitesmoke;

}

.RodapeInferior{

    background: rgb(255, 255, 255);

}
